CONFIG_FATFS_VFS_FSTAT_BLKSIZE=4096
CONFIG_FATFS_SECTOR_512=y
# CONFIG_FATFS_SECTOR_4096 is not set
CONFIG_EXAMPLE_SD_PWR_CTRL_LDO_INTERNAL_IO=y
CONFIG_EXAMPLE_SD_PWR_CTRL_LDO_IO_ID=4
CONFIG_EXAMPLE_FORMAT_IF_MOUNT_FAILED=y
